html,body {
  height:100%;
  background-image: url("img/slika.jpg");
  background-size: 100%;
  margin: auto;

}
.wrapper{
  width: 100%;
}

header{
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  /* border: 1px solid black; */

}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    overflow: hidden;

  }

header nav ul li {

    font-family: 'Snell Roundhand', cursive;
    font-size: 20px;
    text-align: center;
    display: inline-block;


}

header nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

header nav ul li a:hover {
color: rgb(0, 64, 255);
}
/* Content css */
.content{

 margin-top: 20px;
}
.welcome{
  font-family: 'Snell Roundhand', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 64, 255);


}
.text{
  font-family: 'Snell Roundhand', cursive;
  font-size: 20px;
  text-align: center;
}
.text a{
  text-decoration: none;
  color: rgb(0, 64, 255);
}
hr{
  color: rgb(0, 64, 255);
}
/* contact page */
.contact{
  display: block;
}
.contact table{
  width: 40%;
  margin: auto;
  /* border: 1px solid black; */
  font-family: 'Snell Roundhand', cursive;
  font-size: 20px;
}
.leva-kol{
  text-align: center;
  color: rgb(0, 64, 255);
  border-right: 1px solid rgb(0, 64, 255);
}
.desna-kol{
  text-align: left;
  padding-left: 20px;
}
.contact a {
  text-decoration: none;
  color: rgb(0, 64, 255);
}
/* about me */
.about{

  text-align: center;
  margin-top: 5%;;
  font-family: 'Snell Roundhand', cursive;
  font-size: 20px;

}
.levo{
  float: left;
  width: 40%;
  border-right: 1px solid black;
}
.levo img{
  width: 250px;
}
.desno{
  float: right;
  text-align: center;
}
figcaption{
  text-decoration: underline;
  font-size: 15px;
}
